<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ff0000" />
    <title>WCF FUTMinna</title>
    <link rel="stylesheet" href="./dist/css/style.css">
    {{!-- chore : add meta data for SEO --}}
</head>


<body>
    <div id="main-layout">
        {{{body}}}
    </div>

</body>

</html>