<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FYB WCF</title>
</head>


<body>
    <div id="main-layout">
        {{{body}}}
    </div>

    <style>
        body {
            font-family: monospace, sans-serif;
            font-size: 14px;
            background: #eee;
            color: #666;
        }

        h1 {
            font-size: 25px;
        }

        .login-form {
            max-width: 100%;
            width: 370px;
            padding: 15px;
            margin: auto;
        }

        .form-control {
            font-size: 15px;
            min-height: 48px;
            font-weight: 500;
        }

        .form-control:focus {
            border-color: rgb(231, 14, 14);
            box-shadow: 0 0 0 0.2rem rgba(218, 23, 23, 0.5);
        }

        .btn-custom {
            background: #f00a0a;
            border-color: #eb0b0b;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            min-height: 48px;
        }

        .btn-custom:focus,
        .btn-custom:hover,
        .btn-custom:active,
        .btn-custom:active:focus {
            background: #ac0202;
            border-color: #ac0202;
            color: #fff;
        }

        .btn-custom:focus {
            box-shadow: 0 0 0 0.2rem rgba(190, 61, 61, 0.25);
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    </div>


</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</div>

</html>