<div class="container">
	<img src="../dist/logo.jpg" class="avatar" alt="YAF Logo">
	<h1>Admin Register</h1>
	<form action="/admin/admin_register" method="POST">

		<input type="text" name="username" id="username" placeholder="Admin Username" required>
		<label for="username" class="popup-label">Username</label>

		<input type="password" name="password" id="password" placeholder="Enter Password" required>
		<label for="password" class="popup-label">Password</label>
		<input type="submit" value="Register">
	</form>
</div>