<div class="container">
    <img src="./dist/logo.jpg" class="avatar" alt="YAF Logo" srcset="">
    <h1>WCF FUTMinna BioData Form</h1>

    <form action="/" method="POST" autocomplete="off">
        <input type="text" name="fullName" id="name" placeholder="Full Name" required>
        <label for="name" class="popup-label">Full Name</label>

        <input type="text" name="department" id="department" placeholder="Department" required>
        <label for="department" class="popup-label">Department</label>

        <input type="email" name="email" id="email" placeholder="e-mail" required>
        <label for="email" class="popup-label">E-mail</label>


        <input type="number" name="level" id="level" placeholder="level" required>
        <label for="level" class="popup-label">Level</label>

        <input type="tel" name="contactNumber1" id="contactNumber1" placeholder="Contact Number 1" required>
        <label for="contactNumber1" class="popup-label">Preferably WhatsApp &#129488;</label>

        <input type="tel" name="contactNumber2" id="contactNumber2" placeholder="Contact Number 2">
        <label for="contactNumber2" class="popup-label">Phone Number</label>

        <div class="radio-group">
        
            <label class="radio">
                <input type="radio" name="sex" value="Male" required>
                Male
                <span></span>
            </label>
            <label class="radio">
                <input type="radio" name="sex" value="Female" required>
                Female
                <span></span>
            </label>
            <br>
            <br>
            <label class="radio">
                <input type="radio" name="campus" value="Bosso" required>
                Bosso
                <span></span>
            </label>
            <label class="radio">
                <input type="radio" name="campus" value="Gidan-Kwano" required>
                Gidan-Kwano
                <span></span>
            </label>
        </div>

        <input type="submit" value="Submit Details">
    </form>

    <p>Designed by Aiyeola Victor &#128579; &copy; 2020</p>
</div>