<div class="container">
    <img src="./dist/logo.jpg" class="avatar" alt="YAF Logo" srcset="">
    <h1>WCF FUTMinna BioData Form</h1>

    <form action="/" method="POST">

        <input type="text" name="fullName" id="name" placeholder="Full Name" required>
        <label for="name">Full Name</label>


        <input type="text" name="department" id="department" placeholder="Department" required>
        <label for="department">Department</label>


        <input type="number" name="level" id="level" placeholder="level" required>
        <label for="level">Level</label>

        <input type="number" name="contactNumber1" id="contactNumber1" placeholder="Contact Number 1" required>
        <label for="contactNumber1">Preferably WhatsApp</label>

        <input type="number" name="contactNumber2" id="contactNumber2" placeholder="Contact Number 2">
        <label for="contactNumber2">Phone Number</label>

        <input type="text" name="hobbies" id="hobbies" placeholder="hobbies" required>
        <label for="hobbies">Hobbies</label>

        <input type="text" name="mentors" id="mentors" placeholder="mentors" required>
        <label for="mentors">Who are your Mentors?</label>

        <input type="submit" value="Submit Details">
    </form>

    <p>Designed by Aiyeola Victor &#128579; &copy; 2020</p>
</div>