body {
  font-family: monospace, sans-serif;
  font-size: 14px;
  background: #eee;
  color: #666;
}

.login-form {
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}
.form-control {
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.form-control:focus {
  border-color: rgb(231, 14, 14);
  box-shadow: 0 0 0 0.2rem rgba(218, 23, 23, 0.5);
}
.btn-custom {
  background: #eb0b0b;
  border-color: #eb0b0b;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
  background: #ac0202;
  border-color: #ac0202;
  color: #fff;
}
.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(190, 61, 61, 0.25);
}
