@import url("https://fonts.googleapis.com/css?family=Crimson+Pro:400,600|Raleway:400,600&display=swap");

$radio-color: #ff0000;
$bg-color: #f3e5e5;
%hover-style {
  content: "";
  position: absolute;
  background-color: red;
  top: 100%;
  left: 0;
  width: 0;
  margin-top: -5px;
  height: 2px;
  transition: width 0.5s ease;
}

@keyframes border-style {
  0% {
    border-bottom: 1px solid #ffffff;
  }
  100% {
    border-bottom: 1px solid #000000;
  }
}

@mixin smartphone {
  @media screen and (max-width: 768px) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

.container {
  margin: 0rem 0;
  width: 50%;
  height: 82%;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;

  @include smartphone {
    width: 90%;
    margin: 2rem 0;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  }

  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-weight: 600;
  }

  form {
    position: relative;
    font-family: "Crimson Pro", serif;

    .popup-label {
      display: block;
      position: absolute;
      font-family: inherit;
      font-weight: 600;
    }

    input {
      width: 100%;
      margin-bottom: 20px;
      font-family: inherit;
      font-size: 1rem;
      height: 37px;

      &:placeholder-shown + .popup-label {
        visibility: hidden;
        z-index: -1;
      }

      &:not(:placeholder-shown) + .popup-label,
      &:focus:not(:placeholder-shown) + .popup-label {
        visibility: visible;
        z-index: 2;
        opacity: 1;
        font-size: 1rem;
        transform: translate3d(
          0,
          calc(50% - (0.8rem * 0.5) - (2.5rem * 1.8)),
          0
        );
        transition: transform 0.4s ease;
      }
      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="text"],
      &[type="password"],
      &[type="tel"],
      &[type="number"] {
        border: none;
        border-bottom: 1px solid #ffffff;
        background: transparent;
        outline: none;
        text-transform: capitalize;
        transition: all ease 0.5s;

        &:focus,
        &:active {
          animation: border-style 1s ease forwards;
          background: transparent;
        }
      }

      &[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #f12424;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        transition: all ease 0.5s;

        &:hover {
          cursor: pointer;
          background: #ff0b0b;
        }
      }
    }

    .radio-group {
      padding: 0 1rem 1rem 0;

      @include smartphone {
        padding: 0 0.2rem 1rem 0;
      }

      h4 {
        margin-bottom: 1rem;
        text-decoration: none;
        font-weight: 500;
        margin-left: 4.5rem;
        margin-top: -0.7rem;
      }
      .radio {
        font-size: inherit;
        font-weight: 500;
        text-transform: capitalize;
        display: inline-block;
        vertical-align: middle;
        color: #000000;
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        & + .radio {
          margin-left: 20px;
        }

        input[type="radio"] {
          display: none;
        }

        span {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          border: 3px solid darken($bg-color, 30%);
          position: absolute;
          left: 0;
          top: -2px;

          &::after {
            content: "";
            height: 8px;
            width: 8px;
            background: darken($bg-color, 50%);
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%) scale(0);
            transition: 200ms linear 0s;
          }
        }

        input[type="radio"]:checked ~ span::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  p {
    text-align: center;
    padding: 0 0 1rem 0;
  }
}
